<!DOCTYPE html>

<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>新規ユーザ登録</title>
</head>

<body> 
  <h1>新規ユーザ登録</h1> 
   <p>以下の項目を入力してください！（全て必須項目です）</p> 
   <div> 
    <form method="post" action="adduser"> 
    ID（半角数字9桁以内） <br><input type="text" name="id" required><br><br>
    パスワード（半角英数字20文字以内） <br><input type="text" name="password" required><br><br>
    名前（半角大文字英字＆姓名の間にスペース） <br><input type="text" name="name" required><br><br>
    生年月日 <br><input type="date" name="birth" required><br><br>
    性別（男性：M 女性：F 英字1文字を入力） <br><input type="text" name="sex" required><br><br>
    <input type="submit" value="登録"> 
    </form> 
   </div> 
</body>
