<head>
    <meta charset=”utf-8″>
    <title>WebAPI取得</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <br>
    <h1>預金残高記録 アプリケーション</h1>
    <h3  class="daimei">預金残高ランキングのWebAPIの取得</h3>
<br>

<table align="center">
    <form method="POST" action="getapi">
     <tr>
        <td class="example1">ユーザの性別の指定</td>
     </tr>
     <tr>
        <th><label>男性<input type="radio" name="format1" value="M" checked></label></th>
        <th><label>女性<input type="radio" name="format1" value="F"></label></th>
        <th><td>&nbsp;</td></th>
        <th><label>男女どちらも取得<input type="radio" name="format1" value="MF"></label></th>
     </tr>
     <tr><th>&nbsp;</th></tr>
     <tr>
        <td class="example1">形式の選択</td>
     </tr>
     <tr>
         <th><label>HTML<input type="radio" name="format2" value="HTML" checked></label></th>
         <th><label>JSON<input type="radio" name="format2" value="JSON"></label></th>
         <th><td>&nbsp;</td></th>
         <th><label>XML<input type="radio" name="format2" value="XML"></label></th>
     </tr>
     <tr><th>&nbsp;</th></tr>
     <tr>
        <th><td>&nbsp;</td></th>
        <th><td>&nbsp;</td></th>
        <td align="right" colspan="2"><input type="submit" value="WebAPIの表示" class="btn-submit"></td>
     </tr>
    </form>
</table>
</body>