<head>
    <meta charset=”utf-8″>
    <title>新規登録</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
<table align="center">
    <form method="POST" action="make">
        <br>
        <h1>預金残高記録 アプリケーション</h1>
        <h3  class="daimei">新規登録</h3>
        <h4 style="text-align:center"><font color="red">⚠注意⚠</font></h4>
        <p style="text-align:center">
        今後WebAPIとしてユーザ情報の一部（預金金額/ユーザ名/性別）を公開する予定です。<br>
        ご理解いただける方のみご登録を進めてください★</p>
        <br>
        <p style="text-align:center"><font color="yellow">{{ msg|safe }}</font></p>
        
        <tr><td>ユーザ名</td><td><input type="text" name="name" placeholder="yamada" required></td></tr>
        <tr><td><p><font color="red">※半角英数字 1~20文字</font></p></td></tr>   

        <tr><td>生年月日</td><td><input type="date" name="birth" required></td></tr>

        <tr><td>性別</td><td><label>男性<input type="radio" name="format0" value="M" checked></label>
                            <label>女性<input type="radio" name="format0" value="F"></label></td></tr>
        
        <tr><td>メールアドレス</td><td><input type="email" name="email" placeholder="a@gmail.com" required></td></tr>
        
        <tr><td>ID</td><td><input type="text" name="id" placeholder="123" required></td></tr>
        <tr><td><p><font color="red">※半角数字 3~10桁</font></p></td></tr>   
        
        <tr><td>パスワード</td><td><input type="password" name="passwd" placeholder="yama123" required></td></tr>
        <tr><td><p><font color="red">※半角英数字 5~20文字</font></p></td></tr>
        
        <tr><td colspan="2" align="right"><input type="submit" value="作成" class="btn-submit"></td></tr>
    </form>
</table>
</body>